@font-face {
    font-family: "Poppins-Regular";
    src: url("http://localhost:3000/assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('http://localhost:3000/assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src:  url("https://www.vowd.fr/assets/fonts/Poppins/Poppins-ExtraLight.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "Komigo3D-Regular";
    src: url("http://localhost:3000/assets/fonts/komigo/Komigo3D-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "HeyAugust";
    src: url("http://localhost:3000/assets/fonts/heyAugust/HeyAugust.woff2") format("woff2");
    font-display: swap;
}

/*@font-face {
    font-family: "OpenSans";
    src: url("https://www.vowd.fr/assets/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Michroma-Regular";
    src: url("https://www.vowd.fr/assets/fonts/Michroma-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto-ExtraBold";
    src: url("https://www.vowd.fr/assets/fonts/Roboto-ExtraBold.woff2") format("woff2");
    font-display: swap;
}*/

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins-Regular", sans-serif;
    font-display: swap;
    color: rgb(176, 183, 192);
    overflow-x: hidden;
    background-color: rgb(45,49,54);
}